* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f8f8f8;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

h2 {
    color: #004c5e;
}

h1 {
    font-size: 20px;
    color: #395A7F;
}

h3 {
    color: #004c5e;
    margin-bottom: 5px;
    font-size: 10px;
    text-align: left;
    width: 100%;
    max-width: 350px;
    font-weight: normal;
}

p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    max-width: 350px;
    position: relative;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #004c5e;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #003545;
}

.logo {
    font-size: 60px;
    color: rgb(16, 145, 149);
    font-size: 45px;
    background: linear-gradient(to bottom, #395A7F, #1C3D4A);
    -webkit-background-clip: text;
    color: transparent;
}
