/* OTP Verification Page CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.otp-container {
    width: 320px;
    text-align: center;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    color: #336666;
}

h2 {
    font-size: 28px;
    color: #336666;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    color: #336666;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-inputs input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.otp-inputs input:focus {
    border-color: #336666;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.verify-button, .clear-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.verify-button {
    background-color: #336666;
    color: white;
}

.verify-button:hover {
    background-color: #075765;
}

.clear-button {
    background-color: #aaa;
    color: white;
}

.clear-button:hover {
    background-color: #888;
}

.resend-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #336666;
    cursor: pointer;
}

.logo {
    font-size: 60px;
    color: rgb(16, 145, 149);
    font-size: 45px;
    background: linear-gradient(to bottom, #395A7F, #1C3D4A);
    -webkit-background-clip: text;
    color: transparent;
}
